<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sansotta.market.mapper.ProductMapper">

    <resultMap id="productResultMap" type="ProductEntity">
        <id property="id" column="pid"/>
        <result property="name" column="pname"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="selectProductById" resultMap="productResultMap" parameterType="long">
        SELECT *
        FROM product
        WHERE id = #{id}
    </select>

    <insert id="insertProduct" parameterType="ProductEntity">
        INSERT INTO product(pid, pname, price, description)
        VALUES (#{id}, #{name}, #{price}, #{description})
    </insert>

    <update id="updateProduct" parameterType="ProductEntity">
        UPDATE product SET
          pname = #{name},
          price = #{price},
          description = #{description}
        WHERE pid = #{id}
    </update>

    <delete id="deleteProduct" parameterType="long">
        DELETE FROM product
        WHERE pid = #{id}
    </delete>
    
</mapper>